.box1 {
    background-color: #ecf0f3;
    margin-top: -10px;

}



/*  #dcf2ed; */
.box1:hover {
    background-color: #ff014f;
}

.img_size img {
    height: 220px;
    width: 300px;
    margin: 5px;
    margin-left: 12px;
}

.img_size img:hover {
    transition: 0.5s all ease;
    transform: scale(1.06);
}

.mid_text {
    margin-top: 15px;
    color: black;
}

.flex_portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_portfolio img {
    width: 80px;
    height: 70px;
}

.btn_shadow1 {
    margin-top: 10px;
    margin-left: 28%;
    padding-top: 9px;
    height: 50px;
    width: 150px;
    border-radius: 8px;
    transition: 0.3s all ease;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    text-align: center;
    background-color: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    font-size: large;
    font-weight: 500;

}

.btn_shadow1:hover {
    color: #50dad3;
    background: white;
    transform: translateY(-10px);
}

.btn_shadow1 a:hover {
    text-decoration: none;
    color: black;
}

.portfolio_container {
    background-color: white;


}

.contnet_protfolio {
    width: 95%;
    margin-left: 30px;
    margin-top: 0px;
}



.box1 {
    margin-bottom: 30px;
}

.heading h1 {
    letter-spacing: 2px;
}

.heading h3 {

    font-size: 25px;
    letter-spacing: 2px;
}

.mid_text {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    text-align: center;


}

@media (max-width:768px) {
    .img_size img {
        height: 220px;
        width: 280px;
        margin: 5px;
        margin-left: 12px;
    }

    .protfolio .portfolio_container .heading h3 {
        margin-left: 25px;

    }

    .protfolio .portfolio_container .heading .flex_portfolio h1 {
        font-size: 45px;
        margin-left: -25px;
    }

    .flex_portfolio img {
        width: 80px;
        height: 70px;
        margin-top: -18px;
        margin-left: 10px;
    }

    .protfolio .portfolio_container .contnet_protfolio {
        margin: 0;
        margin-left: 6px;
    }



}