.feature .feature_box {
    background-color: white;
}

.feature_container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.feature_container img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-top: 30px;
}

.feature_container h1 {
    margin-top: 30px;
    letter-spacing: 2px;
    color: #ff014f;

}

.feature .box {
    padding: 50px;
}

.feature .box h2 {
    margin: 20px 0;
}

.feature .box p {
    word-spacing: 2px;
    transition: 0.5s;
}

.feature .box i {
    font-size: 30px;
    margin-top: 30px;
    transition: 0.5s;
    opacity: 0;
}

.feature .box:hover i {
    opacity: 1;

}

.feature .box:hover p {
    color: black
}