.toast-message {
    background: white;
    color: black;
    font-size: 17px;
    font-weight: 400;
    padding: 10px 5px;
    text-align: justify;
    text-justify: inter-word;
    border: 1.5px solid #000000 !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.email_box {
    height: 540px;
    margin: 4%;
    width: 100%;
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mail_form_div {}

.email_box_heading {
    display: flex;
}

.email_box_heading img {
    margin-right: 10px;
}

.emailbox h1 {
    font-size: 40px;
    color: #ff014f;
    letter-spacing: 2px;
    padding: 2px;
}

.mail_form {
    padding: 10px;
    height: 400px;
    width: 100%;
    background-color: #d7dcdf;
    border-radius: 8px;


}

input,
textarea {
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 30px;
    width: 90%;
    padding: 5px;
    margin-left: 15px;
}

input:hover {
    border: 2px solid #000;
}

textarea:hover {
    border: 2px solid #000;

}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: large;
    font-weight: bold;
    margin-left: 15px;
}

.msg_div textarea {
    height: 100px;
}

.btn_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

}

.btn_div button {
    border: 2px solid black;
}

@media (max-width:768px) {
    .email_box {
        height: fit-content;
        width: 100%;
        margin-top: 5%
    }

    .email_box_heading img {
        margin-right: 0px;
        margin-left: 10%;
    }

    .emailbox h1 {
        font-size: 25px;
        font-weight: 900;
        color: #ff014f;
        letter-spacing: 1px;
        padding: 0px;
        text-align: center;
        display: flex;
        justify-self: center;
    }



    .mail_form {
        width: 90%;
        margin: 5%;
        margin-top: -5%;
    }


}

@media (max-width:400px) {
    .email_box {
        height: fit-content;
        width: 100%;
        margin-top: 5%
    }

    .email_box_heading img {
        margin-right: 0px;
        margin-left: 10%;
    }

    .emailbox h1 {
        font-size: 25px;
        font-weight: bolder;
        color: #ff014f;
        letter-spacing: 2px;
        padding: 0px;
    }



    .mail_form {
        width: 90%;
        margin: 5%;
        margin-top: -5%;
    }


}