.resume .content {
    width: 95%;
    margin: auto;
    margin-left: -50px;
}

.resume .box {
    padding: 40px;
}

.resume .heading img {
    text-align: center;
    margin-top: 2%;
    margin-left: 35%;
    height: 100px;
    width: 100px;

}

.resume .heading h1 {
    text-align: center;
    margin-top: 0%;
    color: #ff014f;
    font-weight: 900;
    margin-right: 40px;
}

.content-section {
    height: 600px;
    margin-top: 50px;
    padding: 50px;
    background-color: white;
}

.gpa button {
    font-weight: bold;
    height: fit-content;

}

@media (max-width:768px) {
    .content-section {
        height: 600px;
        margin-top: 50px;
        padding: 0px;
        background-color: red;
    }

    .resume .content {
        width: 100%;
        margin: auto;
        margin-left: 0px;
    }

    .resume .resume_div {
        width: 100%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
    }

    .resume .resume_div.content {
        margin: 0;
        width: 100%;
        margin-left: 50px;
        background-color: red;
    }

    .content .box_shadow .title_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .content .box_shadow .title_content .title h2 {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 5px;

    }

    .content .box_shadow .title_content .title span {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 25px;

    }

    .content .box_shadow .title_content .title {
        margin-bottom: 8%;
    }

    .content .box_shadow .title_content .gpa {

        margin-bottom: 5%;
    }

    .content {
        margin-left: 6%;
        margin-right: 0;

    }
}