.hero {
    position: relative;
    margin-top: 4%;
    margin-left: 1.5%;


}

.hero_container {
    background-color: white;

}

.hero h3 {
    font-weight: 150;
    letter-spacing: 3px;
    margin-top: 15%;
}

.hero h1 {
    font-size: 60px;
    font-weight: bold;
}

.hero h1 span {
    color: #ff014f;
}

.hero h2 {
    font-size: 40px;
    font-weight: bold;
    color: #ff014f;
}

.hero h2 span {
    color: black;
}

.hero_btn {
    /* margin-top: 20%;
 */
}

.hero_btn h4 {
    font-weight: 500;
    letter-spacing: 2px;
    color: #0a0a0a;
    font-size: 15px;
    margin: 30px 0;

}

.hero_btn button {
    margin-right: 15px;

}


.hero .left {
    margin-left: 10%;
}

.hero .right {
    width: 5%;
    position: relative;
}



.hero .right_img {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    border-radius: 10px;
    height: fit-content;
    width: 330px;
    margin-top: 20%;
    margin-left: 60%;
    margin-bottom: 0%;

}



.right .right_img img {

    margin-left: 15%;
    width: 70%;
    height: 90%;
}

p {
    letter-spacing: 2px;
    margin-top: 5%;
    color: black;
    font-weight: 400;
    font-size: large;

}


.cursor {
    animation: blink 1s linear infinite forwards;
}

@media (max-width:768px) {
    .hero {
        margin: 2%;
        margin-top: 8%;
        margin-bottom: 8%;

    }

    .hero h1 {
        font-size: 25px;
    }


    .hero h2 {
        font-size: 18px;
        font-weight: bold;
        color: #ff014f;
    }

    .hero h3 {
        font-size: 15px;
    }

    .hero_container {
        display: flex;
        flex-direction: column;
    }

    .hero .hero_container .left {
        margin-left: 8%;
        margin-bottom: 5%;
    }

    .hero_btn .col_1 h4 {
        margin-left: -10px;
    }

    .hero_btn .col_1 {
        margin-left: 10px;
    }

    .hero_btn button {

        margin-right: 15px;
        margin-bottom: 5%;
    }


    .hero .hero_container .right_img {
        margin: 0;
        margin-left: 12%;
        margin-right: 0%;
        margin-top: 0%;
        margin-top: 0%;


    }

    .hero .right {
        width: 70%;
        margin-left: 4%;
        margin-bottom: 5px;

    }

    .hero .right_img {
        width: 100%;
    }

    .right .right_img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .right.top img {
        margin-left: 0%;
        margin-top: 0%;
    }

    .right .right_img img {

        margin-bottom: 15px;
        width: 60%;
        height: 60%;
    }
}