.hero {
    position: relative;

}

.hero_container {
    background-color: white;

}

.hero h3 {
    font-weight: 150;
    letter-spacing: 3px;
    margin-top: 15%;
}

.hero h1 {
    font-size: 60px;
    font-weight: bold;
}

.hero h1 span {
    color: #ff014f;
}

.hero h2 {
    font-size: 40px;
    font-weight: bold;
    color: #ff014f;
}

.hero h2 span {
    color: black;
}

.hero_btn {
    /* margin-top: 20%;
 */
}

.hero_btn h4 {
    font-weight: 500;
    letter-spacing: 2px;
    color: #0a0a0a;
    font-size: 15px;
    margin: 30px 0;

}

.hero_btn button {
    margin-right: 15px;
}


.hero .left {
    margin-left: 10%;
}

.hero .right {
    width: 5%;
    position: relative;
}



.hero .right_img {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    border-radius: 10px;
    height: 96%;
    width: 330px;
    margin-top: 20%;
    margin-left: 100%;
    margin-bottom: 20%;
}



.right.top img {
    height: 600px;
    margin-left: -45%;
    margin-top: -8%;
}

p {
    letter-spacing: 2px;
    margin-top: 5%;
    color: black;
    font-weight: 400;
    font-size: large;

}


.cursor {
    animation: blink 1s linear infinite forwards;
}

@media (max-width:768px) {
    .hero h1 {
        font-size: 30px;
    }

    .hero h2 {
        font-size: 20px;
        font-weight: bold;
        color: #ff014f;
    }

    .hero_container {
        display: flex;
        flex-direction: column;
    }

    .hero .hero_container .left {
        margin-left: 8%;
        margin-bottom: 5%;
    }

    .hero .hero_container .right_img {
        margin: 0;
        margin-left: 148%;
        margin-top: 2%;
        width: 310px;
        margin-top: 2%;

    }

    .right.top img {
        height: 480px;
        margin-left: -30%;
        width: 435px;
        margin-top: -8%;
    }
}