:root {
    --primary-color: white;
    --secondary-color: #ff014f;
}

.header {
    height: 12vh;
    line-height: 10vh;
    background-color: white;
    margin-bottom: calc(20*0.0625rem);
    box-shadow: -1px 1px 10px -1px rgba(0, 0, 0, .75);
    width: 100%;
}

.header .container {}

.logo {
    display: flex;
    /* flex-direction: row; */
}

.logo img {
    margin-top: 0px;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 1%;
    height: 11vh;
}

.logo h2 {
    margin-top: 3%;
    font-family: "sans-serif";
    font-weight: 4000;
    letter-spacing: 2px;

}

header ul li {
    margin-top: 1%;
    margin-left: calc(25 *0.0625rem);
}

header ul li a {
    transition: 0.2s;
    font-size: calc(16*0.0625rem);
    font-weight: 800;
    letter-spacing: 1px;
}

header ul li a:hover {
    color: var(--secondary-color, #ff014f);


}

.home-btn {
    padding: 15px 25px;
    border-radius: 6px;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s all ease;
    height: fit-content;

}

.home-btn {
    box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);

}

.home-btn:hover {

    font-weight: 900;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.open {
    display: none;
}

.header.active {
    height: 12vh;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
    box-shadow: -1px 11px 20px -1px rgba(0, 0, 0, .75);
    transition: 0.2s;
    /* 0.5sec */

    margin: 0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}



@media (max-width:800px) {
    .header.active {
        height: 12vh;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #ffffff;
        z-index: 1000;
        box-shadow: -1px 11px 20px -1px rgba(0, 0, 0, .75);
        transition: 0.2s;
        margin: 0;
    }

    header ul {
        padding-top: calc(30 *0.0625rem);
    }

    .logo {
        height: 100%;
    }

    .container {
        height: inherit;
    }

    .logo img {
        height: 95%;
    }

    .logo img {
        margin-top: 0px;
        margin-bottom: 2%;
        margin-left: 15%;
        margin-right: 2%;

    }

    .logo h2 {
        margin-top: 5%;
        font-family: "sans-serif";
        font-weight: bolder;
        letter-spacing: 1px;
        font-size: calc(35*0.0625rem);

    }

    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        left: 0;
        top: 0;
        width: 40%;
        height: 130vh;
        background-color: white;
        z-index: 888;
        box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.23), rgba(0, 0, 0, .3) 0 30px 60px -30px;
    }

    header ul li {
        width: 100%;
        transition: 0.0s;
        text-transform: uppercase;
        line-height: calc(70 *0.0625rem);
    }

    header .link {
        display: none;
    }


    .open {
        position: absolute;
        top: 4%;
        right: calc(50*0.0625rem);
        color: var(--secondary-color);
        display: block;
        font-size: calc(40 *0.0625rem);
        z-index: 999;
    }

    .close {
        position: absolute;
        top: 3%;
        right: calc(40*0.0625rem);
        color: var(--secondary-color);
        display: block;
        font-size: calc(25 *0.0625rem);
        z-index: 999;



    }

    .active .open {
        top: 30%;
        right: 5%
    }

    .close {
        right: 65%;
    }



    .close.home-btn {
        color: #ff014f;
        border-radius: 50%;
        padding: 0;
        width: calc(50*0.0625rem);
        height: calc(50 *0.0625rem);
        line-height: calc(50*0.0625rem);
    }

    .header.active {
        height: 10vh;
    }
}

@media (max-width:400px) {
    .header.active {
        height: 12vh;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #ffffff;
        z-index: 1000;
        box-shadow: -1px 11px 20px -1px rgba(0, 0, 0, .75);
        transition: 0.2s;
        margin: 0;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
    }

    header ul {
        padding-top: calc(30 *0.0625rem);
    }

    .logo {
        height: 100%;
    }

    .container {
        height: inherit;
    }

    .logo img {
        height: 95%;
    }

    .logo img {
        margin-top: 0px;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;

    }

    .logo h2 {
        margin-top: 3%;
        font-family: "sans-serif";
        font-weight: bolder;
        letter-spacing: 1px;
        font-size: calc(25*0.0625rem);

    }

    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        left: 0;
        top: 0;
        width: 50%;
        height: 130vh;
        background-color: white;
        z-index: 888;
        box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.23), rgba(0, 0, 0, .3) 0 30px 60px -30px;
    }

    header ul li {
        width: 100%;
        transition: 0.0s;
        text-transform: uppercase;
        line-height: calc(70 *0.0625rem);
    }

    header .link {
        display: none;
    }


    .open {
        position: absolute;
        top: 4%;
        right: calc(20*0.0625rem);
        color: var(--secondary-color);
        display: block;
        font-size: calc(30 *0.0625rem);
        z-index: 999;
    }

    .close {
        position: absolute;
        top: 2%;
        right: calc(20*0.0625rem);
        color: var(--secondary-color);
        display: block;
        font-size: calc(25 *0.0625rem);
        z-index: 999;

    }

    .active .open {
        top: 36%;
        right: 7%;
    }

    .close {
        right: 53%;
    }



    .close .home-btn {
        color: #ff014f;
        border-radius: 50%;
        padding: 0;
        width: calc(20*0.0625rem);
        height: calc(20 *0.0625rem);
        line-height: calc(20*0.0625rem);
    }

    .header.active {
        height: 10vh;
    }
}